{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 hero valign-wrapper ">
        <div class="col s12 card transparent z-depth-5">
            <h4 class="hero-text">Allergy Wise Food</h4>
            <h5 class="col s7 push-s5">Looking for family friendly recipe's for your little one who has food allergies?<br><br>You've come to the right site!<br><br>The perfect place to add and share your favourite recipes with others!
            </h5>
        </div>
    </div>
</div>


{% endblock %}