@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* logo */
.logo-fork {
    height: 100%; 
    width: 8%;
}

/* Navbar */
.my-nav{
    height: 60px;
    background-color: rgba(255, 255, 255);
    font-weight: 600;
}

.my-btn {
    color: #000;
}

.dropdown-trigger {
text-transform: initial;
font-size: large;
}

nav ul a {
    color: rgb(9, 51, 0);
}

/* Hero */

.hero-img {
    height: 30%;
    width: 100%;
}

.row .col {
    padding: 0%;
}

